#navbar-container {
    border-bottom-color: #FF78A8!important;
    background-color: #ffdeea !important;    
  }

.navbar-line{
    background-color: #FF78A8 !important;
}

.navbar-brand {
    color: #FF78A8 !important;
}

.navbar-nav a{
    color: #FF78A8 !important;
}

.nav border border-bottom{
    color: #FF78A8 !important;
}

/*Quitar flecha del DropDownList*/
.dropdown-toggle::after {
    display: none !important; 
}

/*Centrar elementos de forma vertical*/
.center-vertically {
    align-items: center;
    display: flex;
}